<!DOCTYPE html>
<html>
<head>
    <title>Hello World</title>
</head>
<body>
    <p><a href="about.html">About</a></p>
    Hello World, Testing after I deleted Workflow Dir and learned that deleting a GitHub action is not as simple as it should be.

    GitHub actions shouldn't run while commiting to main. 
</body>
</html>