  <!-- Splash Screen -->
  <div id="splash" class="flex flex-col items-center justify-center h-screen text-white text-2xl fixed inset-0 bg-gray-900 z-50">
      <img src="src/images/image.png" alt="Icon" class="animate-pulse">
      Loading...
  </div>
