---
import Menu from '../components/Menu.astro';
---

<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Astro Sidebar</title>
</head>
<body class="bg-white text-gray-800">
  <div class="flex">
    <Menu />

    <div class="ml-64 p-8 w-full">
      <slot /> 
    </div>
  </div>
</body>
</html>
